<!DOCTYPE html>
<html>
  <body>
    <footer class="text-center py-3 mt-5 bg-light">
      <p class="mb-0">© <%= new Date().getFullYear() %> My Blog App</p>
    </footer>
  </body>
</html>




  

